.profilePic{
	border-radius: 50%;
	width: 100%;
}

.spacing-1{
	margin-top: 20px;
}

.spacing-2{
	margin-top: 10px;
}

.floating-special{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 25;
	transition: 150ms;
	cursor: pointer;
}
.floating-special:active{
	bottom: 35px;
	right: 35px;
}
.floating-special>img{
	width: 6em;
	height: 6em;
	border-radius: 50%;
	box-shadow: 4px 4px 8px;
	transition: 150ms;
}
.floating-special:hover>img{
	box-shadow: 6px 6px 12px;
}

.sidenav {
    position: fixed;
    z-index: 20;
    bottom: 9em;
    right: -16em;
	width: 15em;
    overflow-x: hidden;
    transition: right 0.2s;
}
.sidenav.open {
	right: 1em;
}

img.link:hover{
	opacity: 0.5;
}
img.link:active{
	opacity: 1;
}

.sidenav i.fa {
	font-size: 24px;
}

.sidenav:not(.open) + .dash-backdrop{
	display: none;
}

.bd-2:not(.loading),
.bd-2:not(.loading)+i{
	display: none;
}
.loadingCorner:not(.loading){
	display: none;
}
.loadingCorner>i,
.bd-2+i{
	 font-size:48px
}